.menu>li{
    font-size: 20px;
    padding:4px;
    cursor: pointer;
}

.wish{
    list-style: none;
}
.wish>li{
    background-color: cornflowerblue;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    color:white;
}